<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/icons8-sun-48.png" />
    <link rel="stylesheet" href="./css/styles.css">
   
</head>
<body> 
        <div class="main-content">
            {{>header}}

          <form>
              <input placeholder="Type In Adress" class="input-container">
              <button class="input-button">SEARCH</button>
          </form>  

          <p id='p1'></p>
          <p id='p2'></p>
        </div>
        
        {{>footer}}
 <script src="./js/index.js"></script>       
</body>
</html>